* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-gray: #333333;
  --light-gray: #B4B4B4;

  --primary-orange: #E29933;
}

body {
  max-width: 100vw;
  background: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance:none;

  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;

  &.defaultValue {
    color: #777;
  }
}